
:root.theme-light {
  --background-color: rgba(255, 241, 247, 1);
  --background-image: url('../images/cover-image-light.png');
  --h2-nav-color: rgba(53, 52, 48, 1);
  --bg-h3-h4-text-color: rgba(255, 141, 203, 1);
  --h3-h4-text-color: rgba(53, 52, 48, 1);
  --card-text-color: rgba(53, 52, 48, 1);
  --text-shadow: rgba(255, 141, 203, 1);
  --decorate-color: rgba(53, 52, 48, 1);
  --h1-footer-color: rgba(255, 194, 230, 1);
  }

.theme-light .header_decoratived_text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: rgba(255, 241, 247, 1);
    --background-image: url('../images/cover-image-light.png');
    --h2-nav-color: rgba(53, 52, 48, 1);
    --bg-h3-h4-text-color: rgba(255, 141, 203, 1);
    --h3-h4-text-color: rgba(53, 52, 48, 1);
    --card-text-color: rgba(53, 52, 48, 1);
    --text-shadow: rgba(255, 141, 203, 1);
    --decorate-color: rgba(53, 52, 48, 1);
    --h1-footer-color: rgba(255, 194, 230, 1);
  }

  .header_decoratived_text {
    display: none;
  }
}  