/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color: rgba(255, 241, 247, 1);
  --background-image: url('../images/cover-image-light.png');
  --h2-nav-color: rgba(53, 52, 48, 1);
  --bg-h3-h4-text-color: rgba(255, 141, 203, 1);
  --h3-h4-text-color: rgba(53, 52, 48, 1);
  --card-text-color: rgba(53, 52, 48, 1);
  --text-shadow: rgba(255, 141, 203, 1);
  --decorate-color: rgba(53, 52, 48, 1);
  --h1-footer-color: rgba(255, 194, 230, 1);
}


.theme-light {
  background-image: var(--background-image);
  background-color: var(--background-color);
  border: var(--decorate-color);
  color: var(--decorate-color);
  text-shadow: var(--text-shadow);
  background-color: var(--text-shadow);
  box-shadow: var(--text-shadow);
  color: var(--h3-nav-color);
  color: var(--background-color);
  color: var(--h2-nav-color);
  color: var(--h3-h4-text-color);
  color: var(--card-text-color);
  text-shadow: var(--text-shadow);
  outline: (--card-text-color);
  box-shadow: var(--decorate-color);
}

.theme-light .header_decoratived_text {
  display: none;
}

@media (prefers-color-scheme: light) {
  .theme-light {
    --background-color: rgba(255, 241, 247, 1);
    --background-image: url('../images/cover-image-light.png');
    --h2-nav-color: rgba(53, 52, 48, 1);
    --bg-h3-h4-text-color: rgba(255, 141, 203, 1);
    --h3-h4-text-color: rgba(53, 52, 48, 1);
    --card-text-color: rgba(53, 52, 48, 1);
    --text-shadow: rgba(255, 141, 203, 1);
    --decorate-color: rgba(53, 52, 48, 1);
    --h1-footer-color: rgba(255, 194, 230, 1);
  }

  .theme-light {
    background-image: var(--background-image);
    background-color: var(--background-color);
    border: var(--decorate-color);
    color: var(--decorate-color);
    text-shadow: var(--text-shadow);
    background-color: var(--text-shadow);
    box-shadow: var(--text-shadow);
    color: var(--h3-nav-color);
    color: var(--background-color);
    color: var(--h2-nav-color);
    color: var(--h3-h4-text-color);
    color: var(--card-text-color);
    text-shadow: var(--text-shadow);
    outline: (--card-text-color);
    box-shadow: var(--decorate-color);
  }

}