/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  position: relative;
  display: grid;
  block-size: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding-inline: 0.625rem;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 0.4375rem;
  right: 0.625rem;
  inline-size: 1.5625rem;
  block-size: 1.5625rem;
  border-inline-end: 1px solid var(--decorate-color);
  border-block-start: 1px solid var(--decorate-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 0.625rem;
  left: 0.625rem;
  inline-size: 1.5625rem;
  block-size: 1.5625rem;
  border-inline-start: 1px solid var(--decorate-color);
  border-block-end: 1px solid var(--decorate-color);
}

.header_decoratived_text {
  position: absolute;
  top: 0.5rem;
  right: 2.375rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5625rem;
  text-transform: uppercase;
  color: var(--decorate-color);
}

.header_decoratived_text::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0.4375rem;
  left: 2.625rem;
  inline-size: 0.5625rem;
  block-size: 0.5625rem;
  background-color: var(--text-shadow);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--text-shadow);
}


.header__theme-menu {
justify-self: end;

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}


.header__theme-menu-button {
  background: transparent;
  border: none;
  color: var(--h2-nav-color);
  text-transform: lowercase;
  font-size: inherit;
  line-height: 1.125rem;
  margin-inline-end: 8px;
  border: none;
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorate-color);
  pointer-events: none;
  
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decorate-color);
}

.title {
  text-shadow: 4px 4px 0 var(--text-shadow);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--h1-footer-color);
}

.header_text {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.4625rem;
  color: var(--h3-h4-text-color);
  margin-block-end: 0.5625rem;
}

.title-decor {
  background-color: var(--bg-h3-h4-text-color);
}

.main {
  padding-inline: 0.625rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.card_title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.4625rem;
  color: var(--h2-nav-color);
}

.card_title-difficulty {
  margin-block-start: 2.5rem;
}

.title_concentration-reducers,
.concentration-tips_title {
  margin-block-start: 3.125rem;
}

.content_list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.content_list_items {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.items_title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.4625rem;
  color: var(--h3-h4-text-color);
  letter-spacing: 0;
}

.items_text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4625rem;
  color: var(--card-text-color);
  letter-spacing: 0 ;
}

.text-shadow {
  text-shadow: 4px 4px 0 var(--text-shadow);
}

a:hover {
  text-decoration: underline;
}

a:focus-visible {
  outline: 1px solid var(--card-text-color);
}

.subtitle {
  font-weight: 400;
  font-size: inherit;
  line-height: 1.4625rem;
  color: var(--h3-h4-text-color);
}


.image_card {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-block-start: 3.125rem;
}

.image_title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.4625rem;
  color: var(--h3-h4-text-color);
  letter-spacing: 0;
}

.image_card__gallery {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.image_card_items {
  background-size: cover;
  background-position: center;
  display: block;
}

.image {
  display: block;
  max-inline-size: 100%;
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.footer {
  position: relative;
  margin-block-start: 2.5rem;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 0.4375rem;
  right: 0.625rem;
  inline-size: 1.5625rem;
  block-size: 1.5625rem;
  border-inline-end: 1px solid var(--decorate-color);
  border-block-start: 1px solid var(--decorate-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 0.625rem;
  left: 0.625rem;
  inline-size: 1.5625rem;
  block-size: 1.5625rem;
  border-inline-start: 1px solid var(--decorate-color);
  border-block-end: 1px solid var(--decorate-color);
}

.footer_title {
  margin-block: 17.875rem 17.8125rem;
  margin-inline: 0.875rem 0.8125rem;
}

@media (width >= 768px) {

  .decorated-zone::before {
  content: '';
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  inline-size: 1.5625rem;
  block-size: 1.5625rem;
  border-inline-end: 1px solid var(--decorate-color);
  border-block-start: 1px solid var(--decorate-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  inline-size: 1.5625rem;
  block-size: 1.5625rem;
  border-inline-start: 1px solid var(--decorate-color);
  border-block-end: 1px solid var(--decorate-color);
}

.header_decoratived_text {
  position: absolute;
  top: 1.25rem;
  right: 3rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5625rem;
  text-transform: uppercase;
  color: var(--decorate-color);
}

.header_decoratived_text::before {
  content: '';
  position: absolute;
  display: inline-block;
  inline-size: 0.5625rem;
  block-size: 0.5625rem;
  background-color: var(--decorate-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decorate-color);
}

  .header {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr min-content 1fr;
    padding: 0;
    height: 100vh;
    max-block-size: 64rem;
  }

  .header__theme-menu {
    margin-block-start: 0.625rem;
    grid-column: 4;
    grid-row: 1;
  }

  .header__theme-menu-list {
    margin-inline-end: 1.25rem;
  }

  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .header_text {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    margin-inline-end: 1.425rem;
    margin-block-end: 1.375rem;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .main:not(:last-child) {
    gap: 5rem;
  }

  .card--layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }
  
  .card {
    padding-inline: 0.625rem;
  }

  .card_title-difficulty  {
    margin-block-start: 0;
    
    max-inline-size: 14.75rem;
  }

  .title_concentration-reducers {
    max-inline-size: 14.75rem;
    margin-block-start: 0;
  }

  .concentration-tips_title {
    margin-block-start: 0;
  }

  .card--focus-difficulty {
    margin-block-start: 3.75rem;
  }

  .image_card {
    margin-block-start: 0;
    padding-inline: 0.625rem;
    display: grid;
    gap: 1.25rem;
  }

  .image_card__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 2fr;
    gap: 1.25rem;
    max-block-size: 48.75rem;
  }

  .image_card_items:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .image_card_items:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .image_card_items:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .image_card_items:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .image_card_items:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  .image {
  max-inline-size: 100%;  
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
    }
  

  .footer_title {
    margin-block: 28.9375rem 28.875rem;
    margin-inline: 12.75rem;
  }

  .footer {
    margin-block-start: 3.75rem;
  }
}

@media (width >= 1024px) {

  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content repeat(3, 1fr);
    padding: 0;
    height: 100vh;
    max-block-size: 64rem;
  }

  .header__theme-menu { 
    grid-column: 2 / 3;
    grid-row: 2;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list{
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    justify-content: center;
    margin-block-start: 0.625rem;
    margin-inline-start: 0.725rem;
  }

.header__theme-menu-button {
  margin-inline-end: 0;
}

.header__theme-menu-item:nth-child(1) .header__theme-menu-button {
  margin-inline-end: 0.75rem;
}

.header__theme-menu-item:nth-child(3) .header__theme-menu-button {
  margin-inline-start: 1rem;
}

.header_title {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
  

.header_text {
  margin-block-end: 5.3125rem;
  margin-inline-start: 10.625rem;
  grid-column: 2 / 5;
  grid-row: 4 / 5;
}

.main {
  padding-inline: 1.25rem;
}

.card {
    padding-inline: 0;
    gap: 1.25rem
}

.card--layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.card_title {
  align-self: start;
  max-inline-size: 19.6875rem;
}

.content--layout {
  grid-column: 2 / 4;
}


.content_list--desktop-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1.25rem;
}

.image_card {
  padding-inline: 0;
}

.image_card__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 2fr;
  gap: 1.25rem;
  max-block-size: 65.5rem;
}

.footer_title {
  font-size: 9.8125rem;
  margin-block: 19.9375rem;
  margin-inline: 17.3125rem 17.25rem;
}

}